/* base CSS settings for project */
:root {
        --primary-font-family: "Roboto",sans-serif;
        --secondary-font-family: "Raleway", sans-serif;

        --primary-brand: #4D5AE5;
        --pressed-state: #404BBF;
        --dark: #2E2F42;
        --success: #31D0AA;
        --text: #434455;
        --suble-text: #8E8F99;
        --accent: #E7E9FC;
        --light: #F4F4FD;
        --white-background: #FFFFFF;
        --modal-background: #FCFCFC;
        --navy-blue-modal: rgba(46, 47, 66, 0.40);

        --items: 3;
        --col-indent:24px;
        --row-indent: 48px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: var(--primary-font-family);
    color: var(--text);
    background-color: var(--light);
}

/* page header */
.header {
    border-bottom: 1px solid var(--accent);
    box-shadow: 
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    text-decoration: none;
    margin-right: 76px;
    outline: none;
}

.logo span {
    color: var(--dark);
}

.nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 24px 0;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    text-decoration: none;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
    color: var(--pressed-state);
    outline: none;
}

.acive {
    position: relative;
    color: var(--pressed-state);
}

.acive::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--pressed-state);
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.contact-info {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.contact-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover, .contact-item:focus {
    color: var(--pressed-state);
    outline: none;
}

/* hero secion */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 188px 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    
}

.hero-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

.hero-picture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7));
    z-index: 1;
}

.hero-header {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
    color: var(--white-background);
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.hero-button {
    display: block;
    min-width: 169px;
    background-color: var(--primary-brand);
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    padding: 16px 32px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    z-index: 1;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--pressed-state);
    outline: none;
}

/* features section */
.features-section {
    padding: 120px 0 120px;
    background-color: var(--white-background);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.features-item {
    width: 264px;
}

.features-icon-wrapper {
    border-radius: 4px;
    border: 1px solid var(--suble-text);
    background: var(--CLOUD, #F4F4FD);
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.features-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
}

.features-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

/* team-section */
.team-section {
    background-color: var(--light);
    padding: 120px 0
}

.team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}

.team-wrapper {
    padding: 32px 0
}

.team-header-employee {
    text-align: center;
    margin-bottom: 8px;
}

.team-paragraf-employee {
    text-align: center;
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: 264px;
    background-color: var(--white-background);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--white-background);
    box-shadow: 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.socials {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
    background-color: var(--pressed-state);
    outline: none;
}

/* portfolio section */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--white-background);
}

.portfolio-header {
    margin-bottom: 72px;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-indent);
    column-gap: var(--col-indent);
}

.portfolio-item {
    width: calc((100% - var(--col-indent) * (var(--items) - 1)) / var(--items));
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover  {
    box-shadow:
            0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper {
    padding: 32px 16px;
    border: 1px solid var(--accent);
    border-top: none;
}

.portfolio-wrapper h3 {
    margin-bottom: 8px;
}

.image-box-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    padding-top: 40px;
    justify-content: center;
    color: var(--light);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.image-box-wrapper:hover .overlay {
    transform: translateY(0);
}

/* footer */
.footer {
    display: flex;
    background-color: var(--dark);
    padding: 100px 0;
}

.logo .accent {
    color: var(--light);
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-paragraph {
    line-height: 1.5;
    color: var(--light);
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-socials-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background);
    text-decoration: none;
    margin-bottom: 16px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-wrapper {
    display: inline-block;
}

.footer-gap {
    margin-right: 120px;
}

.socials-icons-list {
    display: flex;
    gap: 16px;
    
}

.socials-icon {
    fill: var(--light)
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--success);
    outline: none;
}

.subscribe-section {
    margin-left: 80px;
}

.subscribe-form-wrapper {
    display: flex;
    gap: 24px;
}

.subscribe-form-label {
    display: flex;
    align-items: center;
}

.subscribe-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white-background);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-background);
}

.subscribe-form-input::placeholder {
    color: var(--white-background);
}

.subscribe-button {
    display: block;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    cursor: pointer;
    background-color: var(--primary-brand);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
    margin-left: 16px;
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--pressed-state);
    outline: none;
}

/* modal window */
.modal-overlay {
    background-color: var(--navy-blue-modal);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
    transition-delay: 0s;
}

.modal {
    position: absolute;
    background-color: var(--modal-background);
    width: 408px;
    min-height: 584px;
    display: block;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    flex-direction: column;
    box-shadow: 
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: var(--accent);
    border: none;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--pressed-state);
    fill: var(--white-background);
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
    max-width: 360px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark);
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-field-comment {
    margin-bottom: 16px;
}

.modal-form-label {
    display: block;
    flex-direction: column;
    color: var(--suble-text);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--navy-blue-modal);
    padding: 8px 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}

.modal-form-input:focus {
    border-color: var(--primary-brand);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--primary-brand);
}

.modal-button {
    display: block;
    min-width: 169px;
    background-color: var(--primary-brand);
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    padding: 16px 32px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--pressed-state);
    outline: none;
}

.modal-form-comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--navy-blue-modal);
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1.17;
    color: var(--navy-blue-modal);
    background-color: transparent;
    outline: transparent;
}

.modal-form-comment:focus {
    border-color: var(--primary-brand);
}

.modal-form-comment::placeholder {
    color: var(--NAVY-BLUE-modal);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-form-agreement {
    margin-bottom: 24px;

}

.modal-form-desc {
    color: var(--suble-text);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-form-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 2px;
    display: inline-flex;
    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    cursor: pointer;
}

input[type='checkbox']:checked+.modal-form-desc>.modal-form-checkbox {
    background-color: var(--pressed-state);
    border: none;
    fill: var(--background-color);
}

.modal-form-link {
    color: var(--primary-brand);
    margin-left: 2px;
}

@media screen and (max-width: 767.999px) {
    .container {
        width: 288px;
        margin: 0 auto;
        padding: 0;
        }
}

@media screen and (min-width: 768px) and (max-width: 1157.999px) {
    /* base style */
    .container {
        width: 736px;
        margin: 0 auto;
        padding: 0;
    }

    /* header section */
    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .contact-item {
        font-size: 12px;
        line-height: 1.7;
        letter-spacing: 0.02em;
    }

    /* hero section */
    .hero-section {
        padding: 112px 0;
    }

    .hero-header {
        padding-bottom: 36px;
    }

    /* features section */
    .features-section {
        padding: 96px 0;
    }

    .features-list {
        flex-wrap: wrap;
    }

    .features-item {
        width: 356px;
    }

    .features-icon-wrapper {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .features-header {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.03;
    }

    .features-paragraph {
        font-weight: 500;
    }

    /* team-section */
    .team-section {
        padding: 96px 0
    }

    .team-list {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
    }

    /* portfolio section */
    .portfolio-section {
        padding: 96px 0;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: var(--col-indent);
    }

    .portfolio-item {
        width: calc((100% - var(--col-indent) * (2 - 1)) / 2);
    }

   /* Footer */
   .footer {
    padding: 97.5px 0 96px 108px;
   }
   .footer .container {
       flex-wrap: wrap;
   }

   .footer-paragraph {
       margin-bottom: 72px;
   }

   .footer-socials {
       margin-bottom: 72px;
   }

   .footer-gap {
       margin-right: 24px;
   }

   .subscribe-section {
        margin-left: 0;
   }
}

@media screen and (min-width: 1158px) {
    
}